body {
  background-color: antiquewhite;
  font-family: inherit;
  font-style:italic;
  color: rgb(38, 126, 96);
 
}
h1 {
  text-align: center;
  color: mediumvioletred;
  font-size: 50px;
  text-shadow: -3px 3px rgb(190, 137, 137);
  font-style:normal;

}
h2 {
  text-align: center;
  font-family: cursive;
  letter-spacing: 6px;
  color: deeppink;
  font-size: 30px;
}


}
p {
  font-style:normal;
  color: rgb(94, 46, 116);
 
  
}

img{
  max-width:100%;
  max-height: 100%;
  border-radius: 20px;
}
a{
  color: red;
  text-align: center;
  font-size: 50px;
  font-family: fantasy;
  padding-top: 100px;
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(196, 225, 215);
  padding: 10px;
}
.grid-item1 {
   font-size: 40px;
  color: green;
  text-align: center;
  font-family: inherit;
   border: 1px solid rgba(0, 0, 0, 0.8);
  }
 .grid-item2 {
   font-style:italic;
   text-shadow: -3px 3px;
   font-size: 35px;
   color: blue;
   text-align: center;
   font-family: cursive;
    border: 1px solid rgba(0, 0, 0, 0.8);


